<!DOCTYPE html>
<html>
<head>
  <title>The lucky</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "the/lucky/application", media: "all" %>
  <%= javascript_include_tag "the/lucky/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
